{# PARTIAL PAGE SUMMARY #}

<div class="excerpt text-body overflow-auto position-relative">
    {% if page.summary != page.content %}
        {{ page.summary|truncate(header.summary.size)|striptags|raw }}
    {% else %}
        {{ page.content|truncate(site.summary.size)|striptags|raw }}
    {% endif %}
</div>
