/* Custom CSS */

@media (min-width: 1400px) {
    .container, .container-md, .container-sm, .container-lg, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

.banner-overlay {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(12, 77, 163, .80);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.nav-link {
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.nav-title {
    letter-spacing: 0.1rem;
}

#homeIntro {
    line-height: 1.7;
}

@media (min-width: 992px) {
    #homeIntro {
        background-color: rgba(12, 77, 163, .60);
        border: 3px solid rgba(255, 255, 255, 0.0);
        border-radius: .5rem;
        opacity: 0.9;
        color: white;
    }

    #homeIntro span {
        border-bottom: 1px solid rgba(255, 255, 255, .8);
    }

    #homeIntro .spanborder {
        border-bottom: 1px solid rgba(255, 255, 255, .4);
    }

    #homeIntro h3 {
        font-size: 1.35rem;
    }
    .h2-lg {
        font-size: 2rem;
    }
}

@media (max-width: 991.98px) {
    #homeIntro {
        border: None;
        color: black;
    }
}


#publications .pubyear {
    border-left: .3rem solid rgba(12, 77, 163, 0.75);
    padding-left: .5rem;
    display: inline-block;
}

#publications .pubitem {
    margin-bottom: 1rem;
    font-family: "kelson_sansregular";
    margin-top: .5rem;
}
