{% extends 'partials/base.html.twig' %}


{% set publications = page.collection() %}
{% set themeBlog = theme_var('blog_route')|defined('/blog') %}
{% set blog = page.find(header_var('blog_url')|defined(themeBlog)) %}
{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{# Set sidebar option for page #}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{# Set pagination option for page #}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{# get all years of publications #}
{% set years_with_dup = publications|map(page => page.header.year)|filter(year => year is not null)|sort|reverse %}
{% set years = [] %}
{% for year in years_with_dup %}
    {% if year not in years %}
        {% set years = years|merge([year]) %}
    {% endif %}
{% endfor %}




{# Set page filtered #}
{% import 'macros/macros.html.twig' as filters %}
{% set titleFiltered = filters.generateFilteredTitle(uri) %}

{% block content %}

<div class="row mt-3">
{% embed 'partials/layout.html.twig' with { blog: page } %}
    {% block item %}
        <h2 class="font-weight-bold title h3 text-uppercase mb-4 spanborder">
        <span>{{titleFiltered}}</span>
        </h2>

        {% for year in page.children %}
            <h3>{{ year.folder }}</h3>
            <div>
            {% for paper in year.children %}
                <div class="formatted-citation", data-bibstring="@article{Willighagen_2019_Citation,
  title = {Citation.js: a format-independent, modular bibliography tool for the browser and command line},
  author = {Willighagen, Lars G.},
  year = 2019,
  month = aug,
  keywords = {Bibliography, Javascript},
  volume = 5,
  pages = {e214},
  journal = {PeerJ Computer Science},
  issn = {2376-5992},
  url = {https://doi.org/10.7717/peerj-cs.214},
  doi = {10.7717/peerj-cs.214}
}">{{ paper.header.year }}</div>
            {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}


    {% block sidebar %}
        {% include 'partials/sidebar.html.twig' %}
    {% endblock %}
{% endembed %}
</div>

{% endblock %}

{% block bottom %}
    {% do assets.addJs('theme://assets/js/citation.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://assets/js/publications.js', {group: 'bottom'}) %}
    {{ parent() }}
{% endblock %}





